* {
    font-family: 'Roboto Mono' , monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: none;
    list-style: none;
    color: white;
}

body {
    margin: 0;
    overflow-x: hidden; /* evita scroll horizontal */
    display: flex;
    flex-direction: column; 
    /* min-height: 100vh; asegura que ocupe toda la altura */
    z-index: 100;
}
header {
    background-color: rgb(246, 63, 63);
    font-size: 25px;
    text-align: center;
    color: white;
    padding: 30px;
    display: flex;/*hace que los elementos de lista se coloquen uno al lado del otro*/
    justify-content: space-between; /*hace que los elementos se coloquen en las dos puntas de la pagina */    
}

.logo{
    width: 70px;
    height: 70px;
}
#menu{
    display: none
    
}

#menu{
    font-size: 60px;
    z-index: 101;
    cursor: pointer;

}

#check-menu{
    display: none;
}

.menu-icono{
    display: none;
}

.navbar{
    display: flex;
    margin: 0px;
    padding: 20px;
    padding-left: 150px;
}


.navbar li{
    font-size: 15px;
    font-weight: 700;
    padding: 15px;
    margin-left: 50px;
    border-radius: 5%;
    cursor: pointer;
    transition: all 0.5s ease;
}

.navbar li:hover{
    transition: all 0.5s;
    background-color: rgb(3, 3, 3);
    text-shadow: left 10px;
    transform: translateX(8px);
}


section {
    flex: 1; 
    padding: 0 8%;
}


.hero {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    align-items: flex-start;
    gap: 2rem;
    padding-top: 200px;
}

.explicacion{
    text-align: justify;
}
.explicacion h2{
    font-size: 25px;
    color: black;
    padding:25px;
    text-align: center;
}

.explicacion h3{
    color: black;
    font-size: 20px;
    text-indent: 15px;
}

.explicacion p{
    color: black;
    text-indent: 15px;
    padding-top: 10px;

}

.hero-img img{ 
    width: 500px;
    margin: 10% 0 0 10%;
    height: auto;
    display: block;
    transition: all 1s linear;
    border-radius: 10px;
}

.hero-img img:hover{
    width: 550px;
    opacity: 0.6;
}
.pie-de-pagina {
    background-color: black;
    color: white;
    width: 100%;
    padding: 50px 0;

}

.pie-de-pagina h1{
    text-align: center;
}
.redes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}





@media (max-width:992px){
        .menu-icono{
        display: block;
    }

    #menu{
        display: block;
        padding-left: 50%;
    }
    
    
    section{
        padding: 0 3%;
    }

    .explicacion{
        padding: 0;   
    }

    .explicacion p{
        font-size: 60%;

    }

    .explicacion h2{
        font-size: 70%;
        
    }
    .explicacion h3{
        font-size: 70%;
    }
    .hero-img{
        text-align: center;
    }
    .navbar{
        display: none;
    }

}

@media (max-width:600px){
    .menu-icono{
        display: block;
    }

    #menu{
        display: block;
    }

    .explicacion{
        text-align: center;
        padding-top: 100px;

    }
    .hero{
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
        justify-content: center;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 200px;
        height: 180px;
        background-color: rgba(40, 20, 119, 0.601);
        display: flex;
        flex-direction:column ;
        align-items: center;
        padding: 30px 20px;
        transition: all 1s ease;
    }
    .navbar a{
        margin: 7px 0px;

    } 

    #check-menu:checked + label.menu-icono + ul {

        right: 0;

    }




}

