*{
    font-family: 'Roboto Mono' , monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    overflow-x: hidden; /* evita scroll horizontal */
    display: flex;
    flex-direction: column; 
    /* min-height: 100vh; asegura que ocupe toda la altura */
    z-index: 100;
}

header {
    background-color: rgb(246, 63, 63);
    font-size: 25px;
    text-align: center;
    color: white;
    padding: 30px;
    display: flex;/*hace que los elementos de lista se coloquen uno al lado del otro*/
    justify-content: space-between; /*hace que los elementos se coloquen en las dos puntas de la pagina */ 
}


.logo{
    width: 70px;
    height: 70px;
}
#menu{
    display: none
    
}

#menu{
    font-size: 60px;
    z-index: 101;
    cursor: pointer;

}

#check-menu{
    display: none;
}

.menu-icono{
    display: none;
}

.navbar{
    display: flex;
    margin: 0px;
    padding: 20px;
    padding-left: 150px;

}


    .navbar li{
    font-size: 15px;
    font-weight: 700;
    padding: 15px;
    margin-left: 50px;
    border-radius: 5%;
    transition: all 0.5s ease;
    list-style: none;
    
}
.navbar li a{
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.navbar li:hover{
        transition: all 0.5s;
    background-color: rgb(3, 3, 3);
    text-shadow: left 10px;
    transform: translateX(8px);
}

.formulario {
    background-color: #1e1e1e; /* gris oscuro */
    border: 1px solid #333;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.6);
    max-width: 400px;
    margin: 100px auto;
    padding: 80px;
    color: #f5f5f5; /* texto claro */
}
.titulo {
    display: block;
    margin: 13px 0 5px;
    font-weight: bold;
    color: #434343;
}

.caja {
    width: 100%;
    padding: 15px;
    border-radius: 25px;
    border: 1px solid #020101;
    margin-bottom: 8px;
    font-size: px;
    box-sizing: border-box;
}

.caja:focus {
    border-color: #000000bd;
    outline: none;
    box-shadow: 0 0 5px rgba(187, 126, 126, 0.629);
}

.boton {
    width: 100%;
    padding: 16px;
    background-color: rgb(243, 239, 239);
    margin-top: 40px;
    margin-bottom: -20px;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 200px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.5s;
}

.boton:hover {
    background-color:rgba(216, 4, 4, 0.904);
    color: #fff;
}

/* ----- Selección de rol ----- */
.rol-selection {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.rol-selection label {
    font-size: 14px;
    cursor: pointer;
}

/* Campo de código oculto inicialmente */
.codigo-de-acceso {
    display: none;
}

.pie-de-pagina {
    background-color: black;
    color: white;
    width: 100%;
    margin: 0px;
    padding: 70px 0;

}

.pie-de-pagina h1{
    text-align: center;
}
.redes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}
