* {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: none;
    list-style: none;
    color: white;
}

body {
    margin: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column; 
    min-height: 100vh;
    z-index: 100;
}

header {
    background-color: rgb(246, 63, 63);
    font-size: 25px;
    text-align: center;
    color: white;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 70px;
    height: 70px;
}
#menu {
    display: none;
}

#menu {
    font-size: 60px;
    z-index: 101;
    cursor: pointer;
}

#check-menu {
    display: none;
}

.menu-icono {
    display: none;
}

.navbar {
    display: flex;
    margin: 0px;
    padding: 20px;
    padding-left: 150px;
}

.navbar li {
    font-size: 15px;
    font-weight: 700;
    padding: 15px;
    margin-left: 50px;
    border-radius: 5%;
    cursor: pointer;
    transition: all 0.5s ease;
}

.navbar li:hover {
    transition: all 0.5s;
    background-color: rgb(3, 3, 3);
    text-shadow: left 10px;
    transform: translateX(8px);
}


.boletin-alumno {
    padding: 50px 8%;
    background-color: white;
    color: black;
    flex: 1;
    text-align: center;
}

.boletin-alumno h2 {
    color: black;
    margin-bottom: 10px;
}

.saludo {
    color: black;
    margin-bottom: 25px;
    font-size: 1.2rem;
}

.tabla {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    color: black;
    font-size: 14px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

table th {
    background-color: #000000;
    color: rgb(255, 255, 255);
    font-weight: bold;
}


.pie-de-pagina {
    background-color: black;
    color: white;
    width: 100%;
    padding: 50px 0;
}

.pie-de-pagina h1 {
    text-align: center;
}

.redes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}


@media (max-width: 992px) {
    .menu-icono { display: block; }
    #menu { display: block; padding-left: 50%; }
    .navbar { display: none; }
    section { padding: 0 3%; }
}

@media (max-width: 600px) {
    .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 200px;
        height: 180px;
        background-color: rgba(40, 20, 119, 0.601);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 20px;
        transition: all 1s ease;
    }
    .navbar a { margin: 7px 0px; } 
    #check-menu:checked + label.menu-icono + ul { right: 0; }
}